data_files
llama2_own_model
llama2_own_modelv2
llama2_own_modelv3
llama2_own_modelv4
llama2_own_modelv5
vllm
llama2_own_modelv7
mistral-7b-chat-own_data
mistral-7b-chat-own_datav2
models
botcode.zip










